*,
*::before,
*::after {
  box-sizing: border-box;
}

.page {
  font-family: 'Open Sans', sans-serif;
  min-width: 375px;
  padding: 0;
  margin: 0 auto;
  background: rgb(255,255,255);
}

.container {
  width: 85%;
  margin: 0 auto;
}

/* start header */

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 100px 0;
}

.header__logo {
  width: 80px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu--header {
  display: flex;
}

.link {
  text-decoration: none;
}

.menu--header .link {
  font-size: 13px;
  margin-left: 25px;
}

/* end header */

/* start main */
/* start article - hero */

.hero {
  padding-bottom: 153px;
  background: 0 100% url(../img/bg-curve-mobile.svg) no-repeat;
}

.illustration {
  margin: 0;
}

.illustration__img {
  width: 100%;
}

.title {
  font-family: 'Raleway', sans-serif;
}

.title--hero {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -.5px;
  text-align: center;
  line-height: 1.4;
}

.text {
  font-size: 14px;
}

.text--hero {
  text-align: center;
  letter-spacing: .3px;
  line-height: 1.5;
}

.form__input {
  width: 100%;
  font-family: inherit;
  padding: 15px 15px 15px 20px;
  margin: 15px 0;
  border: 1px solid black;
  border-radius: 5px;
}

.form__input::placeholder {
  color: hsl(0, 0%, 75%);
}

.button {
  width: 100%;
  padding: 15px;
  border-style: none;
  background-color: hsl(224, 93%, 58%);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  letter-spacing: .5px;
}

/* end article - hero */
/* start article - productivity */

.productivity {
  background-color: #F8F8FE;
  padding-top: 47px;
}

.illustration--productivity {
  margin-bottom: 100px;
}

.title--productivity {
  font-size: 16px;
  text-align: center;
}

.text--productivity {
  color: hsl(238, 22%, 44%);
}

.link--productivity {
  font-size: 12px;
  color: hsl(170, 45%, 43%);
  padding-bottom: 5px;
  border-bottom: 1px solid hsl(170, 45%, 43%);
}

/* end article - productivity */

/*

main button {
  color: hsl(170, 45%, 43%);
  text-align: center;
  font-size: 12px;
  padding-bottom: 5px;
  background: none;
  border: none;
  border-bottom: 1px solid hsl(170, 45%, 43%);
}

main button::after {
  content: '';
  background: url('../img/icon-arrow.svg') no-repeat;
  background-size: 16px 16px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  display: inline-block;
  margin-left: 5px;
}*/